.container {
  width: 25%;
  height: 25%;
  background-color: #000;
  position: absolute;
  cursor: pointer;
  color: #fff;
  border: 1px solid #e5d6f6;
  transition: transform 0.4s;
}
.innerSpan {
  width: 84%;
  height: 84%;
  margin: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #922ec5;
  font-family: sans-serif;
  font-size: 80px;
}

@media (max-width: 540px) {
  .innerSpan {
    font-size: 50px;
  }
}

@media (max-width: 360px) {
  .innerSpan {
    font-size: 40px;
  }
}
